.title{
    text-align: center;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.items{
    width: calc(100% / 4);
    margin-right: 2%;
    margin-left: 2%;
    padding: 20px 10px;
}

.pannel_label{
    text-decoration: none;
}

.slidebars{
    background-color: aliceblue;
}

.svg_preview{
    background-color:aliceblue;
}

.code_pannel{
    background-color:aliceblue;
}

.copy_button{
    background-color:darkgray;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: -2%;
    transition: 0.5s;
}

.copy_button:hover{
    background-color:gray;
    transition: 0.5s;
}

.svg_code{
    border-color: black;
    border: 1px;
    border-style: solid;
    margin-top: 10px;
}