.title{
    text-align: center;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.items{
    width: calc(100% / 4);
    margin-right: 2%;
    margin-left: 2%;
    padding: 20px 10px;
}

.pannel_label{
    text-decoration: none;
}

.slidebars{
    background-color: aliceblue;
}

.svg_preview{
    background-color:aliceblue;
}

.code_pannel{
    background-color:aliceblue;
}